.main{
  background-color: lightgray;
  height: 600px;
}
.daylight{
  background-color: yellow;
  height: 600px;
}
.nightlight{
  background-color: black;
  height: 600px;
  color: white;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;

}
.val{
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn{
  margin-left: 40%;
  margin-top: 90px;
}

.inc{
  background-color: green;
  border-radius:4px;
  color: white;
  border-style:hidden;
  font-size: 20px;
  cursor: pointer;

}
.res{
  margin-left: 30px;
  background-color: gray;
  border-radius:2px ;
  border-style: hidden;
  color: white;
  cursor: pointer;

}
.dec{
  margin-left: 30px;
  background-color: red;
  border-radius:4px;
  color: white;
  border-style:hidden;
  font-size: 20px;
  cursor: pointer;

}
.light{
  margin-left: 78px;
  margin-top: 90px;
  font-size: 20px;
  color: white;
  background-color:darkorange ;
  border-style: hidden;
  border-radius: 5px;
  cursor: pointer;
}
